pyngrok
streamlit
streamlit-option-menu
streamlit_lottie
pandas
numpy
nltk
spacy
tqdm
gensim
sentence-transformers
bertopic
plotly
lime
umap
unidecode
symspellpy
pyspellchecker
swifter
spacy
langdetect